:root {
  /* Paleta de colores */
  --color-primario: #F4EEFF;
  --color-secundario: #DCD6F7;
  --color-terciario: #A6B1E1;
  --color-cuarto: #424874;
  --azul-oscuro: #0c2342;
  --azul-intermedio: #0d4f81; 
  --negro: #323232;
  --naranja-claro: #ffe6b1;
  --rojo-claro: #FFACAC;
  --rojo: #FD5E53;
  --verde-claro: #21BF73;
  --verde-pastel: #94e085;
  --blanco: #EEEEEE;
  --color-positivo: var(--verde-claro);
  --color-negativo: var(--rojo);
}

.fondo-principal {
  background-color: var( --color-secundario);
  color: var(--color-primario);
}

.titulo-primario {
  color: var(--color-cuarto);
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  position: relative;
}

.titulo-primario::before {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; width: 5px;
  background: linear-gradient(to bottom, var(--color-cuarto), var(--color-terciario), var(--color-secundario));
  z-index: -1;
}

.titulo-secundario {
  color: var(--color-terciario);
  font-size: 20px;
  font-weight: bold;
}

.titulo-terciario {
  color: var(#F4EEFF) !important;
  font-size: 16px;
  font-weight: bold;
}
.texto-normal{
  color: var(--negro);
  font-size: 16px;
}

label{
  color: var(--negro);
  font-size: 16px;
  margin: 5px 0;
}

.form-group {
  margin: 2px 0 5px;
}


/*Contenedor*/
.contenedor-centro {
  display: flex; justify-content: center; margin: 50px 50px 0;
}

.contenedor-carta {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  background-color: transparent; border-radius: 10px; padding: 25px; width: 100%;
}

.contenedor-filo {
  display: flex; 
  justify-content: flex-end; 
}
/*Tabla*/

.table th {
  background-color: var(--color-cuarto);
  color: var(--color-primario);
}

/* Botones */
.btn-normal, .btn-positivo, .btn-negativo ,.btn-desactivado{
  background-color: var(--color-cuarto);
  color: var(--color-primario);
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 5px; margin: 8px;  padding: 8px;
}

.btn-desactivado{
  background-color: var(--color-secundario) !important; 
  border: none;
}

.btn-normal:hover {
  background-color: var(--color-terciario);
}

.btn-positivo {
  background-color: var(--color-positivo);
}

.btn-positivo:hover {
  background-color: var(--verde-pastel);
  color: var(--negro);
}

.btn-negativo {
  background-color: var(--color-negativo);
}

.btn-negativo:hover {
  background-color: var(--rojo-claro);
  color: var(--negro);
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
}

.box-of-users {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: calc(50% - 10px);
  margin-bottom: 5px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  transform: scale(1.5); 
  cursor: pointer;
}

/* Efecto al seleccionar */
.custom-checkbox:checked {
  background-color: #ff4d4d; 
  border-color: #ff4d4d;
}

/* Animación para una transición suave */
.custom-checkbox {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card-selected {
  transform: scale(1.05); 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-color: #ff4d4d;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
  cursor: pointer;
}

/** NAVBAR STYLES */
#dropdown-user {
  outline: none; 
  box-shadow: none !important;
  text-decoration: none; 
  color: #ffffff; 
}

#dropdown-user:focus {
  outline: none; 
  box-shadow: none !important; 
  text-decoration: none; 
}

#dropdown-user:hover {
  color: #a3a3b3; 
}

.sidebar {
  height: 100vh; 
  position: fixed; 
  background-color: var(--color-cuarto)!important;;
  width: 250px;
  top: 0; 
  left: 0; 
  z-index: 1; 
}

/* Navbar superior */
.navbar {
  background-color: var(--color-cuarto) !important;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}


@media (max-width: 500px) {
  .box-of-users {
      flex-basis: 100%; 
  }
}

.imagen-pequena {
  width:25px;
   height: 25px;
}

.margen-usuarios-pequenos {
  margin: 0;
}
.boton-eliminar-pequeno {
   padding: 2px 5px;
  font-size: 0.8rem;
}
.user-container {
  display: flex;
  align-items: center; /* Para alinear verticalmente la imagen y el texto */
}

.navbar-custom-container {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.navbar .navbar-collapse {
  margin-left: 0;
  padding-left: 0;
}


.principal-container {
  margin-top: 100px;
}

.drop-area {
  text-align: center;
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.extract-button, .save-button {
  width: 25%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-card {
  width: 40%;
  margin: auto;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card .card-header,
.popup-card .card-body,
.popup-card .card-footer {
  text-align: center;
}

